$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$navigation-background: #323232;
$primary-cta: #323232;
$primary-cta-hover: #0065ad;
$text-color: #ffffff;
$gallery-color: #fafafa;
$Mercury: #e1e1e1;
$Text-label-style: #afafaf;
