@font-face {
  font-family: "Avenir";
  src: url(../../Assets/Fonts/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir";
  src: url(../../Assets/Fonts/Linotype-AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";
  src: url(../../Assets/Fonts/Linotype-AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}
